/* body */

body {
  background-color: #222629;
}

/* header */

header {
  display: flex;
  justify-content: center;

}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 18px;
  background-color: #222629;
  z-index: 1;
  margin-top: 0;
  position: fixed;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  border-bottom-style: solid;
  font-family: 'Fjalla One', sans-serif;
}

div.logo-name {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.logo-name img {
  padding-left: 24px;
  height: 32px;
}

div.logo-name span {
  display: flex;
  align-items: center;
}

div.navigation li {
  display: inline-block;
}

div.navigation {
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  height: 50px;
  background-color: #474B4F;
  border-left: solid;
  border-right:solid;
  border-width: 25px;
  border-color: #474B4F;
}

ul.nav-menu li {
  margin-right: 16px;
  padding-left: 10px;
}

ul.nav-menu a {
  color: white;
  font-size: 35px;
  transition: color 0.5s;
  font-family: 'Headliner No. 45';
    src: url('C:Windows/Fonts/HeadlinerNo.45 Demo.TTF');
}

ul.nav-menu a:hover {
  /*background-color: #222629;*/
  transition: color 0.5s;
  color: #222629;
  transition-property: color;
  transition-duration: 350ms;
  transition-timing-function: ease-in;
}

header div.truncated-navigation {
  display: none;
}

@media only screen and (max-width: 700px) {
  ul.nav-menu {
    display: none;
  }

}

@media only screen and (min-width: 600px) {
  ul.truncated-menu {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  header div.truncated-navigation {
    display: flex;
  }

  header ul.truncated-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    background-color: #FFFAF4;
  }

  div.logo-name {
    display: none;
  }
}

/* content */

div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  
}

div.main-banner-image {
  background-image: url('E:Coding/hksite/resources/images/banneredit_1.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 498px;
  width: 1200px;
  border-left: solid;
  border-right:solid;
  border-width: 25px;
  border-color: #474B4F;
}

div.banner-image-text {
  display: flex;
  justify-content: center;

}

div.name{
  color: white;
  font-size: 160px;
  width: 50%;
  padding-left: 40px;
    font-family: 'Headliner No. 45';
    src: url('C:Windows/Fonts/HeadlinerNo.45 Demo.TTF');
}

div.short-bio{
  color: white;
  font-size: 65px;
  width: 50%;
  padding-top: 100px;
  font-family: 'Headliner No. 45';
    src: url('C:Windows/Fonts/HeadlinerNo.45 Demo.TTF');
}

/* slider container */

div.pic-slider {
  width: 1200px;
  height: 675px;
  overflow: hidden;
  border-left: solid;
  border-right:solid;
  border-width: 25px;
  border-color: #474B4F;
}

div.slider-images {
  width: 3600px;
  height: 675px;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;

}

.slider-pic {
  float: left;
  margin: 0px;
  padding: 0px;

}

.button-container {
  top: -20px;
  position: relative;
  text-align: center;
}

.slider-button {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: white;
  align-items: center;
}

#slider-pic-1:target ~ .slider-images {
  left: 0px;
}

#slider-pic-2:target ~ .slider-images {
  left: -1200px;
}

#slider-pic-3:target ~ .slider-images {
  left: -2400px;
}


